/* Placeholder */
.placeholder-list {
  padding: 1rem 0;
}

/* List */
.stories-list {
  padding: 1.5rem 0;
}

/* Item */
.stories-item {
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid rgba(67, 50, 42, .1);
}

.stories-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.stories-item-url {
  font-weight: 500;
  color: var(--orange);
}

.stories-item-url .tag {
  margin-left: 0.5rem;
}

.stories-item-url:hover,
.stories-item-url:focus {
  color: var(--orange-2);
}

/* Item Tags */
.stories-item-tags {
  margin: 0.4375rem 0;
}

@media screen and (max-width: 767px) {
  /* Placeholder */
  .placeholder-list {
    padding: 0.3125rem 0;
  }

  /* List */
  .stories-list {
    padding: 0.625rem 0;
  }
}
