/* Placeholder */
.placeholder-list {
  padding: 1rem 0;
}

/* List */
.stories-list {
  padding: 1.5rem 0;
}

/* Item */
.stories-item {
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid rgba(67, 50, 42, .1);
}

.stories-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

/* Item URL */
.stories-url {
  font-weight: 500;
  color: var(--orange);
}

.stories-url:hover,
.stories-url:focus {
  color: var(--orange-2);
}

/* Item Tag Group */
.stories-tag-group {
  display: inline-flex;
  margin-top: 0.4375rem;
  margin-right: 0.625rem;
}

.stories-tag-group:last-child,
.stories-tag-group:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.stories-tag-group:last-child {
  margin-right: 0;
}

/* Item Tag */
.tag.stories-tag-url,
.stories-tag-group .stories-tag {
  font-size: 0.6875rem;
  line-height: 1.1;
}

.tag.stories-tag-url {
  height: 1.25rem;
  margin-left: 0.5rem;
}

.stories-tag-group .stories-tag {
  height: 1.125rem;
  margin-bottom: 0;
}

.stories-tag-group .stories-tag.is-dark {
  background-color: var(--brown);
}

@media screen and (max-width: 767px) {
  /* Placeholder */
  .placeholder-list {
    padding: 0.3125rem 0;
  }

  /* List */
  .stories-list {
    padding: 0.625rem 0;
  }

  /* Item URL */
  .stories-url {
    font-size: 0.875rem;
  }

  /* Item Tag Group */
  .stories-tag-group {
    margin-top: 0.75rem;
  }

  .stories-tag-group-author {
    display: none;
  }
}
