/* Story */
.story {
  padding: 1.5rem 0;
}

/* Story Title */
h1.story-title,
h1.story-title:not(:first-child) {
  margin: 0.5em 0;
}

/* Story Tags */
.story-tags {
  display: flex;
  margin: 0.625rem 0;
}

/* Story Comments */
.story-comment + .story-comment {
  margin-top: 1rem;
}

.story-comment .story-comment-text {
  font-size: 0.875rem;
}

.story-comment-text a {
  color: var(--orange);
}

.story-comment-text a:hover,
.story-comment-text a:focus {
  color: var(--orange-2);
}
