.header {
  padding: 1.5rem 0;
  background-color: var(--orange);
}

.header-logo {
  padding: 3px 0.625rem;
  margin-right: 0.625rem;
  line-height: 1;
  border: 1px solid var(--white);
}

.header-title {
  color: var(--white);
}

.header-nav {
  padding: 0;
  background-color: var(--orange-2);
}

.header-nav-list {

}

.header-nav-item {
  display: inline-flex;
}

.header-nav-url {
  padding: 0.75rem 0.9375rem;
  line-height: 1;
  color: var(--white);
}

.header-nav-url-active {
  background-color: var(--orange);
}

.header-nav-url:hover,
.header-nav-url:focus {
  color: var(--white);
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .app-header {
    padding: 0.875rem 0;
  }
}
