@import '../../css/colors.css';

.app-header {
  padding: 1.5rem 0;
  background-color: var(--orange);
}

.app-header-logo {
  padding: 3px 0.625rem;
  margin-right: 0.625rem;
  line-height: 1;
  border: 1px solid var(--white);
}

.app-header-title {
  color: var(--white);
}

.app-footer {
  padding: 1rem 0;
}

.app-footer p,
.app-footer strong {
  color: var(--brown);
}

.app-footer a {
  font-weight: 500;
  color: var(--orange);
}

.app-footer a:hover,
.app-footer a:focus {
  color: var(--orange-2);
}

@media screen and (max-width: 767px) {
  .app-header,
  .app-footer {
    padding: 0.875rem 0;
  }
}
